.locked-card {
  height: 100vh;
  background: #f8f8f8;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.lock {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #666;
}

.timer {
  margin-top: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #c2185b;
}
